<p *ngIf="!data"><em>Loading...</em></p>

<div class="commands text-right button-header" *ngIf="data">
  <button class="action-btn" mat-raised-button color="accent"
          type="submit"
          (click)="Refresh()">
  <mat-icon>refresh</mat-icon>
    Refresh
  </button>
</div>

<table mat-table [dataSource]="data.info"
       class="table-striped mat-elevation-z8"
       [hidden]="!data.info">

  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let game"> {{ game.id }} </td>
  </ng-container>

  <ng-container matColumnDef="Summary">
    <th mat-header-cell *matHeaderCellDef>Game</th>
    <td mat-cell *matCellDef="let game">{{ game.summary }}</td>
  </ng-container>

  <ng-container matColumnDef="Developer">
    <th mat-header-cell *matHeaderCellDef>Developer</th>
    <td mat-cell *matCellDef="let game">{{ game.developer }}</td>
  </ng-container>

  <ng-container matColumnDef="GameGender">
    <th mat-header-cell *matHeaderCellDef>GameGender</th>
    <td mat-cell *matCellDef="let game">{{ game.gameGender.name }}</td>
  </ng-container>

  <ng-container matColumnDef="Score">
    <th mat-header-cell *matHeaderCellDef>Score</th>
    <td mat-cell *matCellDef="let game">{{ game.score }}</td>
  </ng-container>

  <!-- <ng-container matColumnDef="edit">
    <th mat-header-cell *matHeaderCellDef>Edit</th>
    <td mat-cell *matCellDef="let review" [routerLink]="['create-review', review.id]">
      <mat-icon>edit</mat-icon>
    </td>
  </ng-container> -->

  <ng-container matColumnDef="delete">
    <th mat-header-cell *matHeaderCellDef>Delete</th>
    <td mat-cell *matCellDef="let game" (click)="onDelete(game.id)">
      <mat-icon class="delete-icon">delete</mat-icon>
    </td>
  </ng-container> 

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns;"></tr>

</table>

