<div class="form-container">
  <div [formGroup]="form" class="form-group">
    <ng-container>
      <mat-form-field appearance="outline">
        <mat-label>Name</mat-label>
        <input matInput type="text" formControlName="name">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>UserName</mat-label>
        <input matInput type="text" formControlName="userName">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input matInput type="password" formControlName="password">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Confirm password</mat-label>
        <input matInput type="password" formControlName="confirmPassword">
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Role</mat-label>
        <mat-select formControlName="userRoleId">
          <mat-option *ngFor="let item of roles" [value]="item.id">{{item.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </ng-container>

    <div fxLayout="row" fxLayoutGap="5px">
      <button mat-raised-button [disabled]="form.invalid" color="primary" (click)="saveUserAsync()">Save</button>
      <button mat-raised-button color="primary" [routerLink]="['/home/admin/users']">Cancel</button>
    </div>
  </div>
</div>
